/****** Object:  Table [dbo].[t_check_proc_rdto_login_exclude]    Script Date: 15/10/2019 15:23:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_check_proc_rdto_login_exclude](
	[login] [nvarchar](50) NULL,
	[date] [datetime] NULL,
	[Notas] [nvarchar](150) NULL
) ON [PRIMARY]
GO
